@import url(root.css);
@import url(header.css);
@import url(navbar.css);
@import url(footer.css);

body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

main .slide-banner{
    aspect-ratio: 16/9;
    background-color: var(--cor-purple-dark);
    border-radius: 1em;
}


