:root {
    --cor-principal: #06a348; /* verde principal */
    --cor-secundaria: #03692e; /* verde escuro */
    --font-principal: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container-login {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    grid-template-areas: "banner-left login-form";
}

.banner-left {
    grid-area: banner-left;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cor-principal);
    overflow: hidden;

}

.banner{
    height: 100%;
}

.banner-left img {
    height: 100%;
    object-fit: cover;
}

#button-continue{
    background: var(--cor-principal);
    color: white;
}

.login-form {
    grid-area: login-form;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 100%;
    text-align: center; 
    margin-top: -80px; 
}


.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-form form {
    width: 100%;
}

.login-form input {
    width: 55%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    width: 55%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; 
    font-family: var(--font-principal);
}

.login-form button:hover {
    background-color: var(--cor-secundaria);
}

/*Separação ADS "ou escolha*/
.login-form .separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px;
    color: #7a7a7a; 
    width: 100%; 
}

.login-form .separator::before,
.login-form .separator::after {
    content: '';
    flex-grow: 0; 
    width: 19%; 
    height: 2px; 
    background-color: #ccc; 
    margin: 0 10px; 
}

.login-form .separator span {
    padding: 0 15px; 
}

.social-button img{
    width: 15px;
    height: 15px;
}






/*Responsividade*/
@media (max-width: 1024px) {
    .container-login {
        grid-template-columns: 1fr;
        grid-template-areas:
            "banner-left"
            "login-form";
    }

    .banner-left {
        height: 50vh;
    }

    .login-form {
        width: 90%;
        height: auto;
        padding: 20px;
        margin-top: 20px;
        box-shadow: none;
    }

    .banner-left img {
        object-fit: cover;
    }

    .login-form h2 {
        font-size: 20px;
    }

    .login-form input, .login-form button {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .container-login {
        grid-template-columns: 1fr;
        grid-template-areas:
            "banner-left"
            "login-form";
    }

    .banner-left {
        height: 50vh;
    }

    .login-form {
        width: 100%;
        height: auto;
        padding: 20px;
        margin-top: 20px;
        box-shadow: none;
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
    }

    .login-form h2 {
        font-size: 18px;
        text-align: center;
    }

    .login-form input, .login-form button {
        font-size: 14px;
    }
}
