@import url(root.css);

nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 2;
    top: 0;
    padding: 0.5em 1em;
    box-shadow: 0px 2px 5px var(--cor-secundaria);
    background-color: var(--cor-primaria);
}

nav>div{
    display: flex;
    align-items: center;
    gap: 1em;
    flex: 1;
}

.nav-container:nth-child(2){
    justify-content: center;
}
.nav-container:nth-child(3){
    justify-content: end;
}

/*--------------------------------------------------------------------------*/

.nav-container .logo-link{
    display: flex;
    align-items: center;
    color: var(--cor-purple-dark);
    text-decoration: none;
}

.nav-container .logo-link img{
    aspect-ratio: 1/1;
    width: 2em;
    filter: grayscale(100%) contrast(100%) brightness(0);
}


.nav-container .nav-lista{
    display: none;
    list-style: none;
    gap: 1em;
}
.nav-container .nav-lista li a{
    position: relative;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.nav-container .nav-lista li a::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0%;
    height: 0.2em;
    transform: translateX(-50%);
    background-color: var(--cor-purple-dark);
    transition: 0.2s;
}

.nav-container .nav-lista li a:hover::after{
    width: 90%;
    transition: 0.2s;
}

/*--------------------------------------------------------------------------*/

.nav-container .input-search{
    all: unset;
    background-color: rgb(212, 212, 212);
    width: 100%;
    max-width: 35em;
    border-radius: 3em;
    padding: 0.5em 1em 0.5em 3em;
    transition: 0.5s;
}

.nav-container .input-search:hover{
    filter: brightness(90%);
    transition: 0.5s;
}

/*--------------------------------------------------------------------------*/
.btn-login,
.btn-cadastro{
    padding: 0.3em 0.5em;
    text-decoration: none;
    border-radius: 0.3em;
    font-weight: 600;
}

.btn-login{
    color: var(--cor-purple-dark);
    border: 2px solid var(--cor-purple-dark);
}

.btn-cadastro{
    border: 2px solid black;
    color: var(--cor-green-light);
    background-color: var(--cor-purple-dark);
}

.btn-cadastro:hover{
    filter: brightness(2);
}

.nav-container .icon-perfil{
    aspect-ratio: 1/1;
    width: 2em;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-container .icon-perfil:hover{
    transform: scale(0.9);
    transition: 0.2s;
}

/*--------------------------------------------------------------------------*/

#input-modal:checked ~ .nav-modal{
    display: flex;
}

.nav-modal{
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 1em);
    right: 1em;
    padding: 0.5em;
    color: var(--cor-primaria);
    background-color: var(--cor-purple-dark);
    backdrop-filter: blur(20px);
    border-radius: 1em;
    align-items: stretch;
}

.nav-modal_profile{
    display: flex;
    flex-direction: column;
}

.nav-modal_btn-profile{
    text-decoration: none;
    background-color: gray;
    color: var(--cor-primaria);
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: center;

}

.nav-modal_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.nav-modal_links a{
    text-decoration: none;
    color: var(--cor-primaria);
    padding: 0.3em;
    border-radius: 0.4em;
}
.nav-modal_links a:hover{
    color: var(--cor-green-light);
    background-color: var(--cor-purple-dark);
    transition: 0.2s;
}

.nav-modal_footer{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.nav-modal_footer a{
    color: var(--cor-primaria);
    text-decoration: none;
    font-size: 0.7em;
    opacity: 0.6;
    transition: 0.2s;
}

.nav-modal_footer a:hover{
    opacity: 1;
    transition: 0.2s;
}

@media (min-width: 576px){      /*Dispositivos pequenos (SM)) - Smartphone tela grande - */
    
}


@media (min-width: 768px){      /*Dispositos médios (MD) - Tablets e Smartphones grandes -*/
    
}
@media (min-width: 992px){      /*Dispositivos grande (LG) - Desktops menores e laptops -*/
    .nav-container .nav-lista{
        display: flex;
    }
    .nav-container .logo-link h1{
        display: none;
    }
}


@media (min-width: 1200px){     /*Dispositivos extra grande (XL) - Desktops grandes -*/
    

}
@media (min-width: 1400px){     /*Dispositivos extra extra grande (XXL) - Monitores grandes e telas 4K - */
    
}