@import url(root.css);

.navbar-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-principal-verde1);
    width: 25vw;  
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.navbar-left ul.icons-bar li{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-left ul.icons-bar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    list-style: none;
    gap: 1rem;
    flex-wrap: nowrap;
}

.navbar-left ul.icons-bar a{
    display: inline-flex; 
    align-items: center; 
    font-family: var(--fonte-apagada-clean);
    color: #fff;
    text-decoration: none;
    width: fit-content;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-left ul.icons-bar i{
    width: 2.5rem;
    font-size: 1.3rem;
}

.navbar-left ul.icons-bar li a:hover {
    background-color: rgba(255, 255, 255, 0.07);
    color: #fff; 
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

#button-poster {
    font-size: 1.5rem;
    padding: 0.5rem 5rem;
    background-color: #fff;
    font-family: var(--fonte-titulo-moderna);
    color: var(--cor-principal-verde1);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#button-poster:hover {
    background-color: rgba(3, 71, 9, 0.281);
    color: #fff;
}

#buttonWrite{
    display: none;
}


@media (min-width: 200px) and (max-width: 500px) {
    #button-poster {
        display: none;
    }

    #buttonWrite{
        display: flex;
    }

    .navbar-left {
        width: 60px !important; 
        min-width: 0;           
        padding: 1rem 0.5rem;    
    }

    .navbar-left ul.icons-bar {
        padding: 0;
        gap: 1rem;
        align-items: center;
        width: 100%;
    }

    .navbar-left ul.icons-bar li {
        justify-content: center;
        width: 100%;
    }

    .navbar-left ul.icons-bar a {
        width: auto;
        margin-left: 0;
        padding: 0.3rem;
        font-size: 0;
        border-radius: 0;
    }

    .nav-text {
        display: none;
    }

    .navbar-left ul.icons-bar i {
        font-size: 1.6rem;
        margin: 1 auto;
        width: 100%;
        text-align: center;
    }

    .button-container {
        display: none;
    }

    /* MENU RESPONSIVO ^^^^^^^^^^^^ */
}

@media (min-width: 500px) and (max-width: 1024px) {

    #button-poster {
        display: none;
    }

    #buttonWrite{
        display: flex;
    }

    .navbar-left {
        width: 85px !important; 
        min-width: 0;           
        padding: 1rem 0.5rem;    
    }

    .navbar-left ul.icons-bar {
        padding: 0;
        gap: 1rem;
        align-items: center;
        width: 100%;
    }

    .navbar-left ul.icons-bar li {
        justify-content: center;
        width: 100%;
    }

    .navbar-left ul.icons-bar a {
        width: auto;
        margin-left: 0;
        padding: 0.5rem;
        font-size: 0;
        border-radius: 0;
    }

    .nav-text {
        display: none;
    }

    .navbar-left ul.icons-bar i {
        font-size: 1.6rem;
        margin: 1 auto;
        width: 100%;
        text-align: center;
    }

    .button-container {
        display: none;
    }

    /* MENU RESPONSIVO ^^^^^^^^^^^^ */

}




@media (min-width: 1024px) and (max-width: 1600px) {
    #buttonWrite{
        display: flex;
    }

    #button-poster {
        display: none;
    }

    .navbar-left {
        width: 150px !important; 
        min-width: 0;            
        padding: 1rem 0.5rem;   
    }

    .navbar-left ul.icons-bar {
        padding: 0;
        gap: 1rem;
        align-items: center;
        width: 100%;
    }

    .navbar-left ul.icons-bar li {
        justify-content: center;
        width: 100%;
    }

    .navbar-left ul.icons-bar a {
        width: auto;
        margin-left: 0;
        padding: 0.5rem;
        font-size: 0;
    }

    .nav-text {
        display: none;
    }

    .navbar-left ul.icons-bar i {
        font-size: 2rem;
        margin: 1 auto;
        width: 100%;
        text-align: center;
    }

    .button-container {
        display: none;
    }

    /* MENU RESPONSIVO ^^^^^^^^^^^^ */

}

