:root{
    --cor-principal-verde1: #06a348; /* verde principal */
    --cor-secundaria-verde2: #03692e; /* verde escuro */
    --font-principal: Arial, Helvetica, sans-serif;
    --cor-primaria: #EBECEE;
    --cor-secundaria: #1e1d1d;
    --cor-purple-light: #6c5fe6;
    --cor-purple-dark: #0a0320;
    --cor-green-light: #16db65;
    --cor-green-dark: #0d2818;

    --fonte-texto: "Roboto", sans-serif;
    --fonte-titulo: "Bebas Neue", sans-serif;
    --fonte-div: "Raleway", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-primaria);
    font-size: 14px;
    font-family: var(--fonte-div);
    transition: 0.5s;
}

/* ESTRUTURA DE MEDIA SCREEN PADRÃO DE RESPONSIVIDADE */

@media (max-width: 575px){}      /*disposivos extra pequenos (XS) - Smartphone tela pequena - padrão no site*/

@media (min-width: 576px){      /*Dispositivos pequenos (SM)) - Smartphone tela grande - */
    body{
        font-size: 14px;
    }
}
@media (min-width: 768px){      /*Dispositos médios (MD) - Tablets e Smartphones grandes -*/
    body{
        font-size: 16px;
    }
    
}
@media (min-width: 992px){      /*Dispositivos grande (LG) - Desktops menores e laptops -*/
    body{
        font-size: 18px;
    }
}
@media (min-width: 1200px){     /*Dispositivos extra grande (XL) - Desktops grandes -*/
    body{
        font-size: 20px;
    }

}
@media (min-width: 1400px){     /*Dispositivos extra extra grande (XXL) - Monitores grandes e telas 4K - */
    body{
        font-size: 22px;
    }
}