@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
:root{
    --cor-principal-verde1: #06a348; /* verde principal */
    --cor-secundaria-verde2: #03692e; /* verde escuro */
    --font-principal: Arial, Helvetica, sans-serif;
    --cor-primaria: #EBECEE;
    --cor-secundaria: #1e1d1d;
    --cor-purple-light: #6c5fe6;
    --cor-purple-dark: #0a0320;
    --cor-green-light: #16db65;
    --cor-green-dark: #0d2818;
    --cor-peneira: #012d3a;


    --fonte-texto: "Roboto", sans-serif;
    --fonte-texto2: "Arial", sans-serif;
    --fonte-titulo: "Bebas Neue", sans-serif;
    --fonte-div: "Raleway", sans-serif;
    --fonte-titulo-moderna: 'Montserrat', sans-serif;
    --fonte-apagada-clean: 'Poppins', sans-serif;


    /* CSS APURADO 2 */
    --verde: #00c853;
    --verde-claro: #5efc82;
    --verde-escuro: #009624;
    --verde-destaque: #00e676;
    --verde-principal: #034709;
    --branco: #FFFFFF;
    --cinza-claro: #f9f9f9;
    --cinza: #757575;
    --cinza-escuro: #2d2d2d;
    --preto: #121212;
    --gradiente-verde: linear-gradient(135deg, #00c853, #009624);
    --gradiente-banner: linear-gradient(to right, #03692e, #06a348);
    --sombra-suave: 0 5px 15px rgba(0, 0, 0, 0.05);
    --sombra-media: 0 8px 25px rgba(0, 0, 0, 0.1);
    --sombra-forte: 0 12px 30px rgba(0, 0, 0, 0.15);
    --borda-radius: 12px;
    --transicao: all 0.3s ease;

    --gradiente-navbar: linear-gradient(to right, #03692e, #06a348);


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-primaria);
    font-size: clamp(13px, 2.5vw, 18px);    /*RESPONSIVIDADE DE FONTES*/
    font-family: var(--fonte-div);
    transition: 0.5s;
}


.swat-message_popup{
    color: var(--cor-primaria);
    background-color: var(--cor-purple-dark);
}

.swat-message_popup span{
    color: var(--cor-green-light);
}

.swat-message_timer{
    background-color: var(--cor-green-light);
}

/* ESTRUTURA DE MEDIA SCREEN PADRÃO DE RESPONSIVIDADE */

@media (max-width: 575px){}      /*disposivos extra pequenos (XS) - Smartphone tela pequena - padrão no site*/

@media (min-width: 576px){      /*Dispositivos pequenos (SM)) - Smartphone tela grande - */
    
}
@media (min-width: 768px){      /*Dispositos médios (MD) - Tablets e Smartphones grandes -*/
    
    
}
@media (min-width: 992px){      /*Dispositivos grande (LG) - Desktops menores e laptops -*/
    
}
@media (min-width: 1200px){     /*Dispositivos extra grande (XL) - Desktops grandes -*/
    
}
@media (min-width: 1400px){     /*Dispositivos extra extra grande (XXL) - Monitores grandes e telas 4K - */
    
}