@import url("root.css");

.containerMain{
    display: grid;
    grid-template-areas: 
    "banner"
    "conteudo";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100dvh;
}

.back_btn{
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    font-size: 2em;
    color: var(--cor-secundaria-verde2);
}

/* ----------------------------------------------------------------------- */

.containerMain .main_content{
    display: flex;
    grid-area: conteudo;
    position: relative;
    padding: 4em 7vw 2em;
    flex-direction: column;  
    overflow-y: auto;
}

#form_cadastro{
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}
.content-input{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.content-input>h3{
    opacity: 0.4;
    font-size: 0.8em;
}

.form-content-info{
    display: flex;
    align-items: center;
    gap: 1em;
}

.container_photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    aspect-ratio: 1/1;
    height: 8em;
    border-radius: 1em 0;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
}

.container_photo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-label_direction{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}
.form-label{
    display: flex;
    flex-direction: column;
    flex: 1 1 17em;
    gap: 0.3em;
}
.form-label>label{
    font-weight: 700;
    font-size: 0.9em;
}
.form-label input{
    background-color: transparent;
    border: 2px solid gray;
    padding: 0.5em;
    font-size: unset;
    border-radius: 0.5em 0;
}
.form-label input:focus{
    outline: 1px solid var(--cor-purple-light);
    border: 2px solid var(--cor-purple-light);
}

.form-label_direction .form_back-btn, .form_submit{
    font-size: unset;
    padding: 0.6em;
    border-radius: 0.4em;
    cursor: pointer;
    flex: 1 1 0;
    text-align: center;
}
.containerMain fieldset{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    justify-content: center;
    gap: 1em 4em;
    border-radius: 1em 0;
    accent-color: var(--cor-green-light);
    border: 3px double var(--cor-purple-dark);
}

.form_back-btn{
    text-decoration: none;
    border: 2px solid var(--cor-secundaria-verde2);
    color: var(--cor-secundaria-verde2);
    transform: translateX(0);
    transition: 0.2s;
}

.form_back-btn:hover>i{
    transition: 0.2s;
    transform: translateX(-0.3em);
}

.form_submit{
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria-verde2);
    transition: 0.3s;
}
.form_submit:hover{
    transition: 0.3s;
    filter: brightness(1.5);
}


/* ----------------------------------------------------------------------- */

.containerMain .main_banner{
    display: flex;
    grid-area: banner;
    flex-direction: column;
    background-color: var(--cor-secundaria-verde2);
    color: var(--cor-primaria);
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 2em 2em;
    gap: 1.5em;
}
.main_banner .banner_top{
    display: flex;
    align-items: center;
}
.main_banner .banner_top img{
    aspect-ratio: 1/1;
    height: 2em;
}

.main_banner .banner_msg h1{
    color: var(--cor-green-light);
    font-family: var(--fonte-div);
}

.main_banner .banner_rodape{
    display: none;
}

@media (max-width: 575px){}      /*disposivos extra pequenos (XS) - Smartphone tela pequena - padrão no site*/

@media (min-width: 576px){      /*Dispositivos pequenos (SM)) - Smartphone tela grande - */
    
}
@media (min-width: 768px){      /*Dispositos médios (MD) - Tablets e Smartphones grandes -*/
    
}
@media (min-width: 992px){      /*Dispositivos grande (LG) - Desktops menores e laptops -*/
    .containerMain{
        grid-template-areas: 
        "conteudo banner";
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
    }
    .containerMain .main_banner{
        padding: 4em 3em;
    }
    .main_banner .banner_rodape{
        display: flex;
    }
    
}
    
@media (min-width: 1200px){     /*Dispositivos extra grande (XL) - Desktops grandes -*/
    

}
@media (min-width: 1400px){     /*Dispositivos extra extra grande (XXL) - Monitores grandes e telas 4K - */
    
}