@import url("root.css");

.containerMain{
    display: grid;
    grid-template-areas: 
    "banner"
    "conteudo";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100dvh;
}

.back_btn{
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    font-size: 2em;
    color: var(--cor-purple-dark);
}

/* ----------------------------------------------------------------------- */

.containerMain .main_content{
    display: flex;
    grid-area: conteudo;
    position: relative;
    justify-content: center;
    padding: 7vw;
    flex-direction: column;  
}

#form_cadastro{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border: 2px solid red;
    
}

.form-label_direction{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.form-label{
    display: flex;
    flex-direction: column;
    flex: 1 1 17em;
}

/* ----------------------------------------------------------------------- */

.containerMain .main_banner{
    display: flex;
    grid-area: banner;
    flex-direction: column;
    background-color: var(--cor-purple-dark);
    color: var(--cor-primaria);
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 2em 4em;
    gap: 1em;
}
.main_banner .banner_top{
    display: flex;
    align-items: center;
}
.main_banner .banner_top img{
    aspect-ratio: 1/1;
    height: 2em;
}

.main_banner .banner_msg h1{
    color: var(--cor-green-light);
}

.main_banner .banner_rodape{
    display: none;
}

@media (max-width: 575px){}      /*disposivos extra pequenos (XS) - Smartphone tela pequena - padrão no site*/

@media (min-width: 576px){      /*Dispositivos pequenos (SM)) - Smartphone tela grande - */
    
}
@media (min-width: 768px){      /*Dispositos médios (MD) - Tablets e Smartphones grandes -*/
    
}
@media (min-width: 992px){      /*Dispositivos grande (LG) - Desktops menores e laptops -*/
    .containerMain{
        grid-template-areas: 
        "conteudo banner";
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
    }
    .containerMain .main_banner{
        padding: 4em 3em;
    }
    .main_banner .banner_rodape{
        display: flex;
    }
    
}
    
@media (min-width: 1200px){     /*Dispositivos extra grande (XL) - Desktops grandes -*/
    

}
@media (min-width: 1400px){     /*Dispositivos extra extra grande (XXL) - Monitores grandes e telas 4K - */
    
}