@import url("root.css");

.containerMain{
    display: flex;
    flex-direction: column-reverse;
    height: 100dvh;
    font-size: var(--fonte-texto);
}

.containerMain .back_btn{
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    font-size: 2.5em;
    color: var(--cor-purple-dark);
    cursor: pointer;
    transition: 0.5s;
}
.containerMain .back_btn:active{
    transform: scale(0.9);
    transition: 0.5s;
}


.containerMain>section{
    display: flex;
    flex: 1 1 0;
}

.containerMain section:first-child{
    position: relative;
    justify-content: center;
    align-items: center;
}
.containerMain section:last-child{
    display: none;
    background-color: var(--cor-purple-dark);
    /* box-shadow: -3px 1px 5px black; */
}


#form_cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    border: 2px solid black;
    padding: 2em 0.5em;
    border-radius: 1em;
}

#form_cadastro .form_label{
    display: flex;
    gap: 0.5em;

}

#form_cadastro .input_user{
    all: unset;
    border-bottom: 1px solid gray;
    color: gray;
}

#form_cadastro .input_user:focus{
    color: var(--cor-purple-dark);
    border-bottom: 1px solid black;
}

#form_cadastro .input_user::placeholder{
    font-size: 0.9em;
}

@media (max-width: 575px){}      /*disposivos extra pequenos (XS) - Smartphone tela pequena - padrão no site*/

@media (min-width: 576px){      /*Dispositivos pequenos (SM)) - Smartphone tela grande - */
    
}
@media (min-width: 768px){      /*Dispositos médios (MD) - Tablets e Smartphones grandes -*/
    
    
}
@media (min-width: 992px){      /*Dispositivos grande (LG) - Desktops menores e laptops -*/
    .containerMain{
     flex-direction: row;
    }
    .containerMain section:last-child{
        display: flex;
    }
}
@media (min-width: 1200px){     /*Dispositivos extra grande (XL) - Desktops grandes -*/
    

}
@media (min-width: 1400px){     /*Dispositivos extra extra grande (XXL) - Monitores grandes e telas 4K - */
    
}